.button-store {
  display: inline-block;
  box-sizing: border-box;
  color: #fff;
  font-family: Arial, 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  background-color: #252c41;
  border: none;
  width: 200px;
  height: 60px;
  cursor: pointer;

  transition: all 300ms linear;
}

.button-store.-second {
  background-color: transparent;
  border: 2px solid #fff;
  width: 218px;
  line-height: 56px;
}

.button-store:hover,
.button-store:focus {
  background-color: #fff;
  color: #252c41;
}

.button-store:active {
  transform: scale(0.9);
}

.button-store.-second:hover,
.button-store.-second:focus {
  background-color: #fff;
  color: #e24647;
}

.button-store > button,
.button-store > a {
  font-size: inherit;
  background-color: inherit;
  border: none;
  color: inherit;
  text-decoration: inherit;
}

@media (max-width: 1310px) {
  .button-store.-second {
    margin-right: 38px;
  }
}

@media (max-width: 500px) {
  .button-store.-second {
    margin-right: 20px;
  }
}

@media (max-width: 470px) {
  .button-store,
  .button-store.-second {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .button-store.-second {
    margin-bottom: 20px;
  }
}
