.description-store {
    color: #fff;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 555px;
  }

.description-term {
  font-size: 25px;
  margin-bottom: 100px;
}

.description-rating {
  padding-left: 10px;
}

.description-details {
  margin: 27px 0;
}

.description-price {
  display: inline-block;
  padding-left: 80px;
  width: 65px;
}

.description-price.-label {
  padding: 0;
}

.description-description {
  font-size: 18px;
  margin-top: 75px;
}

.description-action {
  margin-bottom: 100px;
  margin-top: 30px;
}

.description-action a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.description-button {
  display: inline-block;
  margin-right: 40px;
}
  
  