header {
  background-color: #e24647;
  overflow: hidden;
  color: #fff;
}

h1 {
  font-size: 40px;
  font-family: "ArialMT", Verdana, sans-serif;
  float: left;
}

nav {
  font-size: 21px;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: "Segoe UI", Verdana, sans-serif;
}

nav {
  float: right;
}
